div.container
 div.row
    div.col-md-6.col-xs-12
      div.row
        div.s-mall
        div.b-ig
    div.col-md-6.col-xs-12
      div.row
        div.col-md-6.col-xs-12
          div.row
            div.s-mall
            div.b-ig
        div.col-md-6.col-xs-12
          div.row
            div.s-mall
            div.b-ig
        div.col-md-6.col-xs-12
          div.row
            div.s-mall
            div.b-ig
        div.col-md-6.col-xs-12
          div.row
            div.s-mall
            div.b-ig   
    div.col-md-6.col-xs-12
      div.row
        div.col-md-6.col-xs-12
          div.row
            div.s-mall
            div.b-ig
        div.col-md-6.col-xs-12
          div.row
            div.s-mall
            div.b-ig 
        div.col-md-6.col-xs-12
          div.row
            div.s-mall
            div.b-ig 
        div.col-md-6.col-xs-12
          div.row
            div.s-mall
            div.b-ig               
    div.col-md-6.col-xs-12
      div.row
        div.s-mall
        div.b-ig   
